.App {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100vw;
  height: 100vh;

  background-color: #232323;
}

span {
  font-size: 22px;
  color: #61dafb;
}

img {
  height: 80%;
}

.square {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  border: 2px solid #61dafb;
  box-sizing: border-box;
}
.square:hover {
  border: 2px solid rgb(255, 0, 179);
  cursor: pointer;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 70px);
  justify-content: center;
  align-content: center;
  width: 100%;
  padding: 2em;
  gap: 1em;
  grid-template-rows: 70px 70px 70px;
}

.name-container {
  display:flex;
  width: 100%;
  justify-content: space-around;
}

.name-container h2 {
  color: #61dafb;
}